/*for input text types and the textarea*/
input[type=text], input[type=email], textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

button:hover{
  background-color: rgb(235, 127, 127);
}

button{
  background-color: darkred;
  color: #fff;
  border-radius: 4px;
}

h2{
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.container{
  border-radius: 4px;
  padding: 20px;
}
