<h2>About Us</h2>

<section id="about-us">
<p>Bits n' Bytes is a proof-of-concept that was inspired by an organization that I was a part of in my community college.</p>
<p>This organization called "Robotecas" was a place where anyone who was interested in technology could learn through hands-on experience of building computers, fixing hardware, and even talking to experts and instructors with years of experience. They also provided free hardware repairs that were performed by the students, and would rarely charge unless a special part needed to be ordered.</p>
<p>Having an organization within the community that had these kinds of services would not only spark an interest in technology but also improve the tech literacy in underprivileged communities.</p>
</section>
