<div class="container" style="background-image: url('assets/images/cover-photo.jpg');">
  <h1>Bits n' Bytes</h1>
  <h2>A community-driven organization</h2>

  <h2>Who are we?</h2>
    <p>We are anyone from teachers, students, experts, and enthusiasts alike.
    <br>We help bridge the gap in tech literacy through workshops, projects, and more! All are welcome!</p>

  <h5>Our meetings are held every Thursday in Lab 103</h5>
</div>


<app-activities></app-activities>


<app-workshops></app-workshops>
