<h2>Workshops</h2>


<ngb-carousel>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/coding.jpg">
    </div>
    <div class="carousel-caption">
      <h3>Learn Coding</h3>
      <p>Beginner classes for coding</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/teaching.jpg">
    </div>
    <div class="carousel-caption">
      <h3>Hardware Components</h3>
      <p>Learn the hardware that makes up a computer</p>
    </div>
  </ng-template>


  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/website-building.jpg">
    </div>
    <div class="carousel-caption">
      <h3>Understanding the Internet and Websites: Part 1</h3>
      <p>Learn how the Internet works and how to buid a website with HTML and CSS</p>
    </div>
  </ng-template>
</ngb-carousel>
