<h2>Activities</h2>

<section>
  <h3>Build Projects</h3>
  <p>Got a project idea but need guidance on where to start? Want to help out with any of member's current projects? A bit intimidated but want to learn something new?
    <br>We have different kinds of projects going on whether it's formed by the organization, a few club members, or even personal projects. This is a safe space where anyone can contribute and learn new skills while creating something awesome!</p>
</section>

<section>
  <h3>Hardware Repair</h3>
  <p>We can do simple repairs or replacements of hardware done by our students through the supervisor of an instructor or licensed-professional. Simple repairs are free, but complex ones will require a fee.
    <br>For items we cannot fix or beyond our scope, we will recommend a specialist.</p>
</section>

<section>
  <h3>Education</h3>
  <p>We host classes and worshops related to a wide arrangement of topics within the world of technology. It can be about hardware, software, jobs in technology, common technology terms, etc.</p>
</section>
